* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.text-center {
    margin-top: 50px;
    font-size: 60px;
    font-weight: bolder;
    color: black;
}

#header-nav {
    background-color: #A58496;
    border-radius: 0;
    border: 0;
}

#brand a:link, #brand a:visited, #brand a:hover, #brand a:active {
    color: white;
    font-weight: bold;
    width: max-content;
    float: left;
    text-decoration: none;
}

#chicken, #beef, #sushi{
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.column {
    background-color:#A58496;
    text-align: justify;
    color: white;
    border: 5px solid black;
    margin-bottom: 10px;
    padding: 20px;
}

a:link, a:visited, #nav-list a:link, #nav-list a:visited {
    color: white;
    text-decoration: underline;
}

a:hover, a:active, #nav-list a:hover, #nav-list a:active {
    color: black;
    text-decoration: underline;
}

.navbar-toggle, .icon-bar {
    border: 1px solid white;
}

.navbar-toggle {
    margin-top: 20px;
}

li {
    text-align: center;
    margin-top: 5px;
    border: 1px solid white;
}

.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}

