* {
    box-sizing: border-box;
}

body {
    background-color: #DBB4AB;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 175%;
    padding: 20px;
    padding-top: 100px;
    text-align: center;
    font-weight: lighter;
}

p {
    padding: 15px 5px 0px 5px;
    font-size: 16px;
    position: relative;
    margin-top: 10%;
}

.section {
    height: 150px;
    background-color: #A45248;
    border: 1px solid black;
    margin-top: 60px;
    margin-right: 20px;
    padding: 3px;
    text-align: justify;
    position: relative;
}

span {
    width: 150px;
    border: 1px solid black;
    font-weight: lighter;
    text-align: center;
    float: right;
    top: 0;
    right: 0;
    margin: 0;
    position: absolute;
}

.row {
    width: 100%;
}


/* Desktop PC view */

@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
        float: left;
    }
}


/* Tablet PC view */

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
        float: left;
    }
    .col-md-12 {
        width: 100%;
        float: left;
    }
}


/* Cell phone view */

@media (max-width: 767px) {
    .col-sx-12 {
        float: left;
        width: 100%;
    }
}